.checkoutDetails {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.greeting {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 140%;
    font-size: 24px;
    margin-bottom: 16px;
}

.addressSection {
    margin-bottom: 16px;
}

.address {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 140%;
    font-size: 16px;
    margin: 0;
}

.changeButton {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    line-height: 100%;
    font-style: italic;
    color: #1E1E1E;
}

.sectionTitle {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 140%;
    font-size: 20px;
    margin: 16px 0 8px;
}

.deliveryInfo {
    margin-bottom: 16px;
}

.inputActive {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputDisabled {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f0f0f0;
    color: #888;
}

.paymentOptions button {
    margin-right: 8px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    line-height: 140%;
}

.paymentOptions button.selected {
    background: #007bff;
    color: #fff;
}

.creditCardForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkoutButton {
    padding: 12px;
    background: #2C2C2C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
    transition: background 0.3s;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    line-height: 140%;
}

.checkoutButton:hover {
    background: #2c2c2cc9;
}