/* src/styles/CheckoutPage.module.css */
.checkoutPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
  
/* 
   The left panel is initially centered in the container.
   We position it absolutely with left: 50% and translateX(-50%) to center it.
*/
.leftPanel {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 50%;
    height: 90%;
    transform: translateX(-50%);
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
    border: 0.5px solid #B3B3B3;
    border-radius: 8px;
}
  
/* When active step changes, shift the left panel to the left */
.leftPanelShifted {
    width: 30%;
    transform: translateX(-141.667%);
}
  
/* The right panel is fixed on the right side */
.rightPanel {
    position: absolute;
    top: 5%;
    right: 7.5%;
    width: 50%;
    height: 90%;
    background: #f9f9f9;
    padding: 24px;
    box-sizing: border-box;
    overflow-y: auto;
    transition-delay: 5s;
    transition: ease-in-out 2s; /* 0.5s delay to allow left panel animation to complete */
    border: 0.5px solid #B3B3B3;
    border-radius: 8px;
}
  