.formContainer {
    display: grid;
    gap: 16px;
    width: 100%;
}

.row {
    display: grid;
    grid-template-rows: auto;
    gap: 16px;
}

/* First row: 1:1:1 ratio */
.row:first-of-type {
    grid-template-columns: calc(100%/3 - 32px/3) calc(100%/3 - 32px/3) calc(100%/3 - 32px/3);
    /* grid-column-gap: 16px; */
}

/* Second row: 2:1 ratio */
.row:nth-of-type(2) {
    grid-template-columns: calc(200%/3 - 64px/3 + 16px) calc(100%/3 - 16px/3);
    /* grid-column-gap: 16px; */
}

/* Third row: 1:1:1 ratio */
.row:last-of-type {
    grid-template-columns: calc(100%/3 - 32px/3) calc(100%/3 - 32px/3) calc(100%/3 - 32px/3);
    /* grid-column-gap: 16px; */
}

.inputGroup {
    position: relative;
}

.input {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    line-height: 140%;
    color: #1e1e1ecc;
    transition: border-color 0.3s ease;
}

.input:focus {
    outline: none;
    border-bottom-color: #FF6B00;
}

.input::placeholder {
    color: #B3B3B3;
}

.inputDisabled {
    composes: input;
    color: #B3B3B3;
    border-bottom-color: #e0e0e0;
    background: transparent;
    cursor: not-allowed;
}

.inputDisabled::placeholder {
    color: #bdbdbd;
} 