.roboto-base {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
.roboto-login-title {
    font-weight: 700;
}
  
.roboto-login-text {
    font-weight: 400;
}